*{
  background:#333;
  color:#f4f4f4;
  box-sizing:border-box;
  margin:0;
  font-family: sans-serif;
  font-weight: 600;
}

body{
  display:flex;
  width:100vw;
  height:100vh;
  margin:0;
  align-items:center;
  justify-content:center;
}

input{
  border-width:.1rem;
  border-radius:1rem;
  padding:.5rem; 
  background:#f4f4f4;
  color:#333;
}

#calculator{
  width:350px;
  background:#f4f4f4;
  color:#333;
  padding:3rem 1rem;
  border-radius:20px;
}

#display{
  display:flex;
  flex-flow:column;
  background:#f4f4f4;
  color:#333;
}

#previous,#current{
  margin-bottom:15px;
  border-width:0px;
  background:#333;
  color:#f4f4f4
}

#previous:placeholder-shown,#current:placeholder-shown{
  color:#fff;
}

#inputarea{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  padding:1rem;
  background:#f4f4f4;
  color:#333;
}

.num{
  background:#f4f4f4;
  color:#333;
  padding:15px;
  border-radius:5px;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:1px;
}

.num:hover{
  background:#333;
  color:#f4f4f4;
}

#equal{
  grid-column-start:1;
  grid-column-end:4;
}
